.App {
  text-align: center;
  width: 50%;
  height: 300px;
  background-color: black;
  color:white;
  margin-top: 70px;
  margin-left: 350px;
  border-radius: 10px;
  padding-top: 90px;
  text-transform: capitalize;
}




.input_text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  
}

.input_box{
  width: 420px;
  padding: 7px;
  border-radius: 8px;
  border: 2px solid blue;
  font-size: medium;
}

.btn{
  padding: 7px;
  border-radius: 10px;
  margin-right: 10px;
  width: 80px;
  color: rgb(255, 255, 255);
  border: 2px solid blue ;
  font-size: medium;
  position: absolute;
  left: 470px;
  cursor: pointer;
  background-color: blue;
  text-transform: capitalize;
}

.btn:hover{
  color: white;
  background: black;
}

.passwordgenerator{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}


